<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='history.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <section class="heading-box">
        <div class="box">
            <h1>Doctor's History</h1>
        </div>
    </section>
    <section class="doctor_profiles">
        {% if doctors %}
            {% for doctor in doctors %}
            <div class="doctor_profile">
                <div class="doctor_info_left">
                    <h2>{{ doctor['patient_name'] }}</h2>
                    <p><i class="fas fa-info-circle"></i> <strong>Patients's email:</strong> {{ doctor['user-email'] }}</p>
                    <p><i class="fas fa-info-circle"></i> <strong>Status:</strong> {{ doctor['status'] }}</p>
                    <p><i class="fas fa-calendar-alt"></i> <strong>Date:</strong> {{ doctor['date'] }}</p>
                </div>
                <div class="doctor_info_middle">
                    <p><i class="fas fa-disease"></i> <strong>Disease:</strong> {{ doctor['disease'] }}</p>
                    <p><i class="fas fa-symptoms"></i> <strong>Symptom-1:</strong> {{ doctor['symptom-1'] }}</p>
                    <p><i class="fas fa-symptoms"></i> <strong>Symptom-2:</strong> {{ doctor['symptom-2'] }}</p>
                    <p><i class="fas fa-symptoms"></i> <strong>Symptom-3:</strong> {{ doctor['symptom-3'] }}</p>
                    <p><i class="fas fa-symptoms"></i> <strong>Symptom-4:</strong> {{ doctor['symptom-4'] }}</p>
                </div>
                <div class="doctor_info_right">
                    {% for prescribe in doctor['prescription'] %}
                        <p><i class="fas fa-prescription"></i> <strong>Prescription:</strong> {{ prescribe }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </section>
</body>
</html>
